<table>
    <tr>
        <td>Book Id</td>
        <td>Book Name</td>
        <td>Book Author</td>
        <td>Book Price</td>
    </tr>

    <tr>
        <td><input type="number" name="" id="" [(ngModel)]="bookObj.bookId"></td>
        <td><input type="text" name="" id="" [(ngModel)]="bookObj.bookName"></td>
        <td><input type="text" name="" id="" [(ngModel)]="bookObj.bookAuthor"></td>
        <td><input type="number" name="" id="" [(ngModel)]="bookObj.bookPrice"></td>
    </tr>
    <tr>
        <td rowspan="2">
            <button (click)="localAddBook()">Add</button>
        </td>
        
    </tr>
</table>